@use "../../styles/partials/variables" as *;

.partner-card {

    width: 180px;
    height: 140px;
    padding: 1px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: 1px solid $light-blue;
    border-radius: 4px;
    cursor: pointer;

    &:hover  {
        padding: 0;
        border: 2px solid $light-blue;

    }
  
    &.selected {
        padding: 0;
       border: 2px solid $dark-blue;
    }
  
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }