.drag-and-drop{
    width: 80%;
    padding: 5rem;
    // background-image: url("../../assets/images/Cloud-Background.svg");
}

.feature{

    display: flex;
    justify-content: center;

    &__left-box{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        margin: 2rem;
        padding: 2rem 0;
        width: 18rem;
        // background-image: url("../../assets/images/Cloud-Background.svg");

        &__button{
            width: 10rem;
            margin: 1rem 4rem;
            background-color: #C0D7E9;

            &--none{
                visibility: hidden;
            }
        }

    }
    &__arrow{
        margin: 2rem;
    }
    &__right-box{
        display: flex;
        flex-direction: column;
        border: 2px dotted black;
        margin: 2rem;
        padding: 2rem 0;
        // background-image: url("../../assets/images/Cloud-Background.svg");

        &__button{
            width: 10rem;
            margin: 1rem 4rem;
            background-color: #C0D7E9;
        }
    }

}